:host {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    display: block;
    height: 100%;
}

section {
   height: 100%;
   flex: 1 0 auto;
}
.mat-tab-body-wrapper {
    flex: 1 1 100%;
}

mat-grid-list.info {
    mat-grid-tile {
        text-align: center;

        b {
            display: block;
        }
    }
}

.mat-tab-group {
    height: 100%;
}

mat-tab-body {
    flex-grow: 1;
}

.game-state {
    font-size: 16px;
    
    &.running {
        background-color: green;
        color: white;
    }

    &.crashed {
        color: brown;
        background-color: darkorange;
    }

    &.error {
        background-color: red;
        color: white;
    }

    &.ended {
        background-color: black;
        color: white;
    }
}

ul.log {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 12px;

    li {
        padding: 5px;
        display: flex;

        .timestamp {
            font-weight: bold;
            flex: 1 0 auto;
            margin-right: 20px;
        }

        .body {
            flex: 1 1 100%;
        }

        @media screen and (max-width: 800px) {
            display: block;
        }

        &.success {
            color: green;
        }

        &.warning {
            color: orange;
        }

        &.error {
            color: red;
        }
    }
}

.bails {
    li {
        display: flex;

        img {
            width: 14px;
            height: 14px;
        }
    }
}