<section class="mat-body">
  <mat-tab-group mat-stretch-tabs animationDuration="0ms" backgroundColor="primary">
    <mat-tab label="Info">
      <mat-grid-list cols="2" rowHeight="60" class="info">
        <mat-grid-tile [colspan]="2" class="game-state" [ngClass]="state.toLowerCase()">
          <div>
            <b>Game State</b>
            {{ state }}
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>
            <b>Websocket State</b>
            {{ websocket.state }}
          </div>
        </mat-grid-tile>
        <ng-template [ngIf]="gameData">
          <mat-grid-tile>
            <div>
              <b>Start</b>
              <countdown [config]="{ stopTime: gameData.startTime }"></countdown>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div>
              <b>End</b>
              <countdown *ngIf="gameData.endTime" [config]="{ stopTime: gameData.endTime }" (event)="onEndCountdownEvent($event)"></countdown>
              <span *ngIf="!gameData.endTime">N/A</span>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div>
              <b>Round</b>
              {{ gameData.roundNumber }}
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div>
              <b>Next Round</b>
              <countdown *ngIf="state !== 'Running'" [config]="{ stopTime: gameData.roundStartTime }" (event)="onNextRoundCountdownEvent($event)"></countdown>
              <span *ngIf="state === 'Running'">N/A</span>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div>
              <b>Players (Total/Remaining)</b>
              {{ gameData.playerCount }} / {{ gameData.remainingPlayerCount }}
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div>
              <b>Score</b>
              <app-score [roundTime]="thisRoundStartTime" [live]="state === 'Running'" *ngIf="!gameData.crashTime"></app-score>
              <ng-template [ngIf]="gameData.crashTime">{{ lastScore }}</ng-template>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <ng-template [ngIf]="!gameData.player.score && state === 'Running'">
              <button mat-raised-button color="warn" (click)="bail()" *ngIf="canBail()">Bail Out</button>
              <span *ngIf="!canBail()">Wait for next round</span>
            </ng-template>
            <ng-template [ngIf]="(gameData.player.score || 0) > 0 || state !== 'Running'">
              <div>
                <b>Your Score</b>
                {{ gameData.player.score || 0 }}
              </div>
            </ng-template>
          </mat-grid-tile>
        </ng-template>
      </mat-grid-list>
      <ul *ngIf="bails.length > 0" class="bails">
        <li *ngFor="let bail of bails">
          <img [src]="bail.avatarUrl" *ngIf="bail.avatarUrl" />
          {{ bail.displayName }} bailed at {{ bail.score }}
        </li>
      </ul>
    </mat-tab>
    <mat-tab label="Log">
      <ul class="log">
        <li *ngFor="let message of log.messages" [class]="message.type.toLowerCase()">
          <div class="timestamp">
            {{ message.timestamp | date:'YYYY-MM-dd HH:mm:ss' }}
          </div>
          <div class="body">
            <div class="text">
              {{ message.text }}
            </div>
            <div class="data" *ngIf="message.data">
              <pre>{{ message.data | json }}</pre>
            </div>
          </div>
        </li>
      </ul>
    </mat-tab>
  </mat-tab-group>
</section>